In [1]:
#Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

**Dataset1**

In [2]:
#Read dataset1
who_covid_dataset1 = pd.read_csv("../datasets/WHO-COVID-19-global-data.csv")
who_covid_dataset1.head(3)

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0

In [3]:
# Check shape of the dataset1
print(f'Shape of WHO Dataset1: {who_covid_dataset1.shape}')

Shape of WHO Dataset1: (130464, 8)

In [4]:
#Check datatypes
who_covid_dataset1.dtypes

Date_reported        object
Country_code         object
Country              object
WHO_region           object
New_cases             int64
Cumulative_cases      int64
New_deaths            int64
Cumulative_deaths     int64
dtype: object

In [5]:
#Convert Date_reported from object to datetime format
who_covid_dataset1['Date_reported']=pd.to_datetime(who_covid_dataset1['Date_reported'])

In [6]:
#Check missing values of dataset1
who_covid_dataset1.isnull().sum()

Date_reported          0
Country_code         550
Country                0
WHO_region             0
New_cases              0
Cumulative_cases       0
New_deaths             0
Cumulative_deaths      0
dtype: int64

In [7]:
#Replace missing values with country code 'NA'
who_covid_dataset1['Country_code']=who_covid_dataset1['Country_code'].fillna('NA')

In [8]:
#Rename the columns in 'who_covid_dataset1'
rename_columns_dict = {
    'Date_reported': 'date_of_reporting_to_who',
    'Country_code' : 'country_code',
    'Country'      : 'country_name', 
    'WHO_region'   : 'who_regional_offices',
    'New_cases'    : 'new_confirmed_cases',
    'Cumulative_cases' : 'cumulative_confirmed_cases',
    'New_deaths'   : 'new_confirmed_deaths',
    'Cumulative_deaths': 'cumulative_confirmed_deaths'}

In [9]:
who_covid_dataset1.rename(columns=rename_columns_dict, inplace=True)

In [10]:
who_covid_dataset1[who_covid_dataset1['country_name']=='Indonesia']

,date_of_reporting_to_who,country_code,country_name,who_regional_offices,new_confirmed_cases,cumulative_confirmed_cases,new_confirmed_deaths,cumulative_confirmed_deaths
53394,2020-01-03,ID,Indonesia,SEARO,0,0,0,0
53395,2020-01-04,ID,Indonesia,SEARO,0,0,0,0
53396,2020-01-05,ID,Indonesia,SEARO,0,0,0,0
53397,2020-01-06,ID,Indonesia,SEARO,0,0,0,0
53398,2020-01-07,ID,Indonesia,SEARO,0,0,0,0
...,...,...,...,...,...,...,...,...
53939,2021-07-01,ID,Indonesia,SEARO,24836,2203108,504,58995
53940,2021-07-02,ID,Indonesia,SEARO,25830,2228938,539,59534
53941,2021-07-03,ID,Indonesia,SEARO,27913,2256851,493,60027
53942,2021-07-04,ID,Indonesia,SEARO,27233,2284084,555,60582
53943,2021-07-05,ID,Indonesia,SEARO,29745,2313829,558,61140

In [11]:
who_covid_dataset1[who_covid_dataset1['country_name']=='The United Kingdom']

,date_of_reporting_to_who,country_code,country_name,who_regional_offices,new_confirmed_cases,cumulative_confirmed_cases,new_confirmed_deaths,cumulative_confirmed_deaths
116149,2020-01-03,GB,The United Kingdom,EURO,0,0,0,0
116150,2020-01-04,GB,The United Kingdom,EURO,0,0,0,0
116151,2020-01-05,GB,The United Kingdom,EURO,0,0,0,0
116152,2020-01-06,GB,The United Kingdom,EURO,0,0,0,0
116153,2020-01-07,GB,The United Kingdom,EURO,0,0,0,0
...,...,...,...,...,...,...,...,...
116694,2021-07-01,GB,The United Kingdom,EURO,25606,4800911,14,128140
116695,2021-07-02,GB,The United Kingdom,EURO,27556,4828467,22,128162
116696,2021-07-03,GB,The United Kingdom,EURO,26706,4855173,27,128189
116697,2021-07-04,GB,The United Kingdom,EURO,24447,4879620,18,128207
116698,2021-07-05,GB,The United Kingdom,EURO,23818,4903438,15,128222

In [12]:
who_covid_dataset1[who_covid_dataset1['country_name']=='Italy']

,date_of_reporting_to_who,country_code,country_name,who_regional_offices,new_confirmed_cases,cumulative_confirmed_cases,new_confirmed_deaths,cumulative_confirmed_deaths
56696,2020-01-03,IT,Italy,EURO,0,0,0,0
56697,2020-01-04,IT,Italy,EURO,0,0,0,0
56698,2020-01-05,IT,Italy,EURO,0,0,0,0
56699,2020-01-06,IT,Italy,EURO,0,0,0,0
56700,2020-01-07,IT,Italy,EURO,0,0,0,0
...,...,...,...,...,...,...,...,...
57241,2021-07-01,IT,Italy,EURO,776,4259909,24,127566
57242,2021-07-02,IT,Italy,EURO,879,4260788,21,127587
57243,2021-07-03,IT,Italy,EURO,794,4261582,28,127615
57244,2021-07-04,IT,Italy,EURO,929,4262511,22,127637
57245,2021-07-05,IT,Italy,EURO,806,4263317,12,127649

In [13]:
who_covid_dataset1[who_covid_dataset1['country_name']=='India']

,date_of_reporting_to_who,country_code,country_name,who_regional_offices,new_confirmed_cases,cumulative_confirmed_cases,new_confirmed_deaths,cumulative_confirmed_deaths
52844,2020-01-03,IN,India,SEARO,0,0,0,0
52845,2020-01-04,IN,India,SEARO,0,0,0,0
52846,2020-01-05,IN,India,SEARO,0,0,0,0
52847,2020-01-06,IN,India,SEARO,0,0,0,0
52848,2020-01-07,IN,India,SEARO,0,0,0,0
...,...,...,...,...,...,...,...,...
53389,2021-07-01,IN,India,SEARO,48786,30411634,1005,399459
53390,2021-07-02,IN,India,SEARO,46617,30458251,853,400312
53391,2021-07-03,IN,India,SEARO,44111,30502362,738,401050
53392,2021-07-04,IN,India,SEARO,43071,30545433,955,402005
53393,2021-07-05,IN,India,SEARO,39796,30585229,723,402728

**Dataset2**

In [14]:
#Read dataset2
who_covid_dataset2 = pd.read_csv("../datasets/WHO-COVID-19-global-table-data.csv")
who_covid_dataset2.head(3)

,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours,Transmission Classification
0,Global,NaN,183700343,2356.782242,2669006,34.241993,322222,3981756,51.08391,53493,0.686288,6075,NaN
1,United States of America,Americas,33378240,10083.980000,78879,23.830000,0,600294,181.36000,1507,0.460000,45,Community transmission
2,India,South-East Asia,30585229,2216.310000,305898,22.170000,39796,402728,29.18000,5998,0.430000,723,Clusters of cases

In [15]:
# Check shape of the dataset2
print(f'Shape of WHO Dataset2: {who_covid_dataset2.shape}')

Shape of WHO Dataset2: (238, 13)

In [16]:
#Check datatypes
who_covid_dataset2.dtypes

Name                                                             object
WHO Region                                                       object
Cases - cumulative total                                          int64
Cases - cumulative total per 100000 population                  float64
Cases - newly reported in last 7 days                             int64
Cases - newly reported in last 7 days per 100000 population     float64
Cases - newly reported in last 24 hours                           int64
Deaths - cumulative total                                         int64
Deaths - cumulative total per 100000 population                 float64
Deaths - newly reported in last 7 days                            int64
Deaths - newly reported in last 7 days per 100000 population    float64
Deaths - newly reported in last 24 hours                          int64
Transmission Classification                                      object
dtype: object

In [17]:
#Check missing values of dataset2
who_covid_dataset2.isnull().sum()

Name                                                            0
WHO Region                                                      1
Cases - cumulative total                                        0
Cases - cumulative total per 100000 population                  1
Cases - newly reported in last 7 days                           0
Cases - newly reported in last 7 days per 100000 population     1
Cases - newly reported in last 24 hours                         0
Deaths - cumulative total                                       0
Deaths - cumulative total per 100000 population                 1
Deaths - newly reported in last 7 days                          0
Deaths - newly reported in last 7 days per 100000 population    1
Deaths - newly reported in last 24 hours                        0
Transmission Classification                                     1
dtype: int64

In [18]:
#Check rows where values are missing in dataset2
np.where(who_covid_dataset2['Cases - cumulative total per 100000 population'].isnull() == True)

(array([201]),)

In [19]:
who_covid_dataset2.loc[201]

Name                                                                     Other
WHO Region                                                               Other
Cases - cumulative total                                                   764
Cases - cumulative total per 100000 population                             NaN
Cases - newly reported in last 7 days                                        0
Cases - newly reported in last 7 days per 100000 population                NaN
Cases - newly reported in last 24 hours                                      0
Deaths - cumulative total                                                   13
Deaths - cumulative total per 100000 population                            NaN
Deaths - newly reported in last 7 days                                       0
Deaths - newly reported in last 7 days per 100000 population               NaN
Deaths - newly reported in last 24 hours                                     0
Transmission Classification                                     Not applicable
Name: 201, dtype: object

In [20]:
#Rename the columns in 'who_covid_dataset2'
rename_columns_dictionary = {
    'Name'         : 'country_name',
    'WHO Region'   : 'who_region',
    'Cases - cumulative total' : 'cumulative_confirmed_cases', 
    'Cases - cumulative total per 100000 population' : 'cumulative_confirmed_cases_per_100000_population',
    'Cases - newly reported in last 7 days' : 'new_confirmed_cases_in_last_7days',
    'Cases - newly reported in last 7 days per 100000 population' : 'new_confirmed_cases_in_last_7days_per_100000_population',
    'Cases - newly reported in last 24 hours': 'new_confirmed_cases_in_last_24hours',
    'Deaths - cumulative total': 'cumulative_confirmed_deaths',
    'Deaths - cumulative total per 100000 population' : 'cumulative_confirmed_deaths_per_100000_population',
    'Deaths - newly reported in last 7 days' : 'new_confirmed_deaths_in_last_7days',
    'Deaths - newly reported in last 7 days per 100000 population' : 'new_confirmed_deaths_in_last_7days_per_100000_population',
    'Deaths - newly reported in last 24 hours': 'new_confirmed_deaths_in_last_24hours',
    'Transmission Classification' : 'transmission_classification'}

In [21]:
who_covid_dataset2.rename(columns=rename_columns_dictionary, inplace=True)

In [22]:
#countries with more number of cases reported in last 24 hours as of  2021-07-05
who_covid_dataset2.sort_values('new_confirmed_cases_in_last_24hours',ascending=False)[['country_name','new_confirmed_cases_in_last_24hours']].head()

   country_name  new_confirmed_cases_in_last_24hours
0        Global                               322222
2         India                                39796
16    Indonesia                                29745
3        Brazil                                27783
9      Colombia                                26265

In [23]:
#countries with more number of cases reported in last 7days as of  2021-07-05
who_covid_dataset2.sort_values('new_confirmed_cases_in_last_7days',ascending=False)[['country_name','new_confirmed_cases_in_last_7days']].head()

   country_name  new_confirmed_cases_in_last_7days
0        Global                            2669006
3        Brazil                             349210
2         India                             305898
9      Colombia                             191779
16    Indonesia                             177831

In [24]:
who_covid_dataset2.sort_values('cumulative_confirmed_cases',ascending=False)[['country_name','cumulative_confirmed_cases']].head()

               country_name  cumulative_confirmed_cases
0                    Global                   183700343
1  United States of America                    33378240
2                     India                    30585229
3                    Brazil                    18769808
4                    France                     5674906

In [25]:
#countries with more number of deaths reported in last 7days as of  2021-07-05
who_covid_dataset2.sort_values('new_confirmed_deaths_in_last_7days',ascending=False)[['country_name','new_confirmed_deaths_in_last_7days']].head()

         country_name  new_confirmed_deaths_in_last_7days
0              Global                               53493
3              Brazil                               10943
2               India                                5998
5  Russian Federation                                4686
9            Colombia                                4218