In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
covid = pd.read_csv("../datasets/WHO-COVID-19-global-data.csv")
covid.head(3)

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0

In [7]:
covid_data = pd.read_csv("../datasets/WHO-COVID-19-global-table-data.csv")
covid_data.head(3)

,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours,Transmission Classification
0,Global,NaN,183700343,2356.782242,2669006,34.241993,322222,3981756,51.08391,53493,0.686288,6075,NaN
1,United States of America,Americas,33378240,10083.980000,78879,23.830000,0,600294,181.36000,1507,0.460000,45,Community transmission
2,India,South-East Asia,30585229,2216.310000,305898,22.170000,39796,402728,29.18000,5998,0.430000,723,Clusters of cases

In [8]:
covid.shape

(130464, 8)

In [9]:
covid_data.shape

(238, 13)

In [12]:
covid[covid['Country']=='United States of America']

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
124406,2020-01-03,US,United States of America,AMRO,0,0,0,0
124407,2020-01-04,US,United States of America,AMRO,0,0,0,0
124408,2020-01-05,US,United States of America,AMRO,0,0,0,0
124409,2020-01-06,US,United States of America,AMRO,0,0,0,0
124410,2020-01-07,US,United States of America,AMRO,0,0,0,0
...,...,...,...,...,...,...,...,...
124952,2021-07-02,US,United States of America,AMRO,10959,33343961,268,599680
124953,2021-07-03,US,United States of America,AMRO,18156,33362117,329,600009
124954,2021-07-04,US,United States of America,AMRO,16123,33378240,240,600249
124955,2021-07-05,US,United States of America,AMRO,0,33378240,0,600249
124956,2021-07-06,US,United States of America,AMRO,0,33378240,45,600294

In [15]:
covid[covid['Country']=='The United Kingdom']

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
116149,2020-01-03,GB,The United Kingdom,EURO,0,0,0,0
116150,2020-01-04,GB,The United Kingdom,EURO,0,0,0,0
116151,2020-01-05,GB,The United Kingdom,EURO,0,0,0,0
116152,2020-01-06,GB,The United Kingdom,EURO,0,0,0,0
116153,2020-01-07,GB,The United Kingdom,EURO,0,0,0,0
...,...,...,...,...,...,...,...,...
116694,2021-07-01,GB,The United Kingdom,EURO,25606,4800911,14,128140
116695,2021-07-02,GB,The United Kingdom,EURO,27556,4828467,22,128162
116696,2021-07-03,GB,The United Kingdom,EURO,26706,4855173,27,128189
116697,2021-07-04,GB,The United Kingdom,EURO,24447,4879620,18,128207
116698,2021-07-05,GB,The United Kingdom,EURO,23818,4903438,15,128222

In [16]:
covid[covid['Country']=='Italy']

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
56696,2020-01-03,IT,Italy,EURO,0,0,0,0
56697,2020-01-04,IT,Italy,EURO,0,0,0,0
56698,2020-01-05,IT,Italy,EURO,0,0,0,0
56699,2020-01-06,IT,Italy,EURO,0,0,0,0
56700,2020-01-07,IT,Italy,EURO,0,0,0,0
...,...,...,...,...,...,...,...,...
57241,2021-07-01,IT,Italy,EURO,776,4259909,24,127566
57242,2021-07-02,IT,Italy,EURO,879,4260788,21,127587
57243,2021-07-03,IT,Italy,EURO,794,4261582,28,127615
57244,2021-07-04,IT,Italy,EURO,929,4262511,22,127637
57245,2021-07-05,IT,Italy,EURO,806,4263317,12,127649

In [21]:
#countries with more number of cases reported in last 24 hours as of  2021-07-05
covid_data.sort_values('Cases - newly reported in last 24 hours',ascending=False)[['Name','Cases - newly reported in last 24 hours']].head()

         Name  Cases - newly reported in last 24 hours
0      Global                                   322222
2       India                                    39796
16  Indonesia                                    29745
3      Brazil                                    27783
9    Colombia                                    26265

In [17]:
#countries with more number of cases reported in last 7days as of  2021-07-05
covid_data.sort_values('Cases - newly reported in last 7 days',ascending=False)[['Name','Cases - newly reported in last 7 days']].head()

         Name  Cases - newly reported in last 7 days
0      Global                                2669006
3      Brazil                                 349210
2       India                                 305898
9    Colombia                                 191779
16  Indonesia                                 177831

In [18]:
covid_data.sort_values('Cases - cumulative total',ascending=False)[['Name','Cases - cumulative total']].head()

                       Name  Cases - cumulative total
0                    Global                 183700343
1  United States of America                  33378240
2                     India                  30585229
3                    Brazil                  18769808
4                    France                   5674906

In [19]:
#countries with more number of deaths reported in last 7days as of  2021-07-05
covid_data.sort_values('Deaths - newly reported in last 7 days',ascending=False)[['Name','Deaths - newly reported in last 7 days']].head()

                 Name  Deaths - newly reported in last 7 days
0              Global                                   53493
3              Brazil                                   10943
2               India                                    5998
5  Russian Federation                                    4686
9            Colombia                                    4218