In [16]:
import pandas as pd
import matplotlib.pyplot as plt

In [17]:
covid = pd.read_csv("../datasets/WHO-COVID-19-global-data.csv")
covid.head(3)

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0

In [18]:
covid_data = pd.read_csv("../datasets/WHO-COVID-19-global-table-data.csv")
covid_data.head(3)

,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours,Transmission Classification
0,Global,NaN,183700343,2356.782242,2669006,34.241993,322222,3981756,51.08391,53493,0.686288,6075,NaN
1,United States of America,Americas,33378240,10083.980000,78879,23.830000,0,600294,181.36000,1507,0.460000,45,Community transmission
2,India,South-East Asia,30585229,2216.310000,305898,22.170000,39796,402728,29.18000,5998,0.430000,723,Clusters of cases

In [19]:
covid.shape

(130464, 8)

In [20]:
covid_data.shape

(238, 13)

In [23]:
len(covid['Country'].unique())

237

In [13]:
covid[covid['Country']=='United States of America'][50::].head(50)

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
124456,2020-02-22,US,United States of America,AMRO,2,90,0,0
124457,2020-02-23,US,United States of America,AMRO,9,99,0,0
124458,2020-02-24,US,United States of America,AMRO,2,101,0,0
124459,2020-02-25,US,United States of America,AMRO,1,102,0,0
124460,2020-02-26,US,United States of America,AMRO,4,106,0,0
124461,2020-02-27,US,United States of America,AMRO,5,111,0,0
124462,2020-02-28,US,United States of America,AMRO,4,115,0,0
124463,2020-02-29,US,United States of America,AMRO,11,126,1,1
124464,2020-03-01,US,United States of America,AMRO,8,134,0,1
124465,2020-03-02,US,United States of America,AMRO,19,153,1,2
124466,2020-03-03,US,United States of America,AMRO,24,177,0,2
124467,2020-03-04,US,United States of America,AMRO,41,218,5,7
124468,2020-03-05,US,United States of America,AMRO,38,256,3,10
124469,2020-03-06,US,United States of America,AMRO,44,300,1,11
124470,2020-03-07,US,United States of America,AMRO,81,381,2,13
124471,2020-03-08,US,United States of America,AMRO,78,459,2,15
124472,2020-03-09,US,United States of America,AMRO,98,557,5,20
124473,2020-03-10,US,United States of America,AMRO,191,748,4,24
124474,2020-03-11,US,United States of America,AMRO,301,1049,7,31
124475,2020-03-12,US,United States of America,AMRO,374,1423,5,36
124476,2020-03-13,US,United States of America,AMRO,368,1791,12,48
124477,2020-03-14,US,United States of America,AMRO,532,2323,7,55
124478,2020-03-15,US,United States of America,AMRO,443,2766,8,63
124479,2020-03-16,US,United States of America,AMRO,536,3302,12,75
124480,2020-03-17,US,United States of America,AMRO,1381,4683,23,98
124481,2020-03-18,US,United States of America,AMRO,1055,5738,18,116
124482,2020-03-19,US,United States of America,AMRO,3108,8846,31,147
124483,2020-03-20,US,United States of America,AMRO,3765,12611,67,214
124484,2020-03-21,US,United States of America,AMRO,5045,17656,57,271
124485,2020-03-22,US,United States of America,AMRO,3743,21399,70,341
124486,2020-03-23,US,United States of America,AMRO,6037,27436,83,424
124487,2020-03-24,US,United States of America,AMRO,9032,36468,81,505
124488,2020-03-25,US,United States of America,AMRO,11224,47692,151,656
124489,2020-03-26,US,United States of America,AMRO,10786,58478,206,862
124490,2020-03-27,US,United States of America,AMRO,14073,72551,275,1137
124491,2020-03-28,US,United States of America,AMRO,17135,89686,267,1404
124492,2020-03-29,US,United States of America,AMRO,18547,108233,450,1854
124493,2020-03-30,US,United States of America,AMRO,19444,127677,459,2313
124494,2020-03-31,US,United States of America,AMRO,18136,145813,331,2644
124495,2020-04-01,US,United States of America,AMRO,22395,168208,511,3155
124496,2020-04-02,US,United States of America,AMRO,22834,191042,752,3907
124497,2020-04-03,US,United States of America,AMRO,27357,218399,912,4819
124498,2020-04-04,US,United States of America,AMRO,25982,244381,970,5789
124499,2020-04-05,US,United States of America,AMRO,35131,279512,1067,6856
124500,2020-04-06,US,United States of America,AMRO,30593,310105,1157,8013
124501,2020-04-07,US,United States of America,AMRO,25511,335616,1364,9377
124502,2020-04-08,US,United States of America,AMRO,42604,378220,3243,12620
124503,2020-04-09,US,United States of America,AMRO,21975,400195,674,13294
124504,2020-04-10,US,United States of America,AMRO,31714,431909,1958,15252
124505,2020-04-11,US,United States of America,AMRO,31215,463124,2343,17595

In [15]:
covid[covid['Country']=='The United Kingdom']

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
116149,2020-01-03,GB,The United Kingdom,EURO,0,0,0,0
116150,2020-01-04,GB,The United Kingdom,EURO,0,0,0,0
116151,2020-01-05,GB,The United Kingdom,EURO,0,0,0,0
116152,2020-01-06,GB,The United Kingdom,EURO,0,0,0,0
116153,2020-01-07,GB,The United Kingdom,EURO,0,0,0,0
...,...,...,...,...,...,...,...,...
116694,2021-07-01,GB,The United Kingdom,EURO,25606,4800911,14,128140
116695,2021-07-02,GB,The United Kingdom,EURO,27556,4828467,22,128162
116696,2021-07-03,GB,The United Kingdom,EURO,26706,4855173,27,128189
116697,2021-07-04,GB,The United Kingdom,EURO,24447,4879620,18,128207
116698,2021-07-05,GB,The United Kingdom,EURO,23818,4903438,15,128222

In [16]:
covid[covid['Country']=='Italy']

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
56696,2020-01-03,IT,Italy,EURO,0,0,0,0
56697,2020-01-04,IT,Italy,EURO,0,0,0,0
56698,2020-01-05,IT,Italy,EURO,0,0,0,0
56699,2020-01-06,IT,Italy,EURO,0,0,0,0
56700,2020-01-07,IT,Italy,EURO,0,0,0,0
...,...,...,...,...,...,...,...,...
57241,2021-07-01,IT,Italy,EURO,776,4259909,24,127566
57242,2021-07-02,IT,Italy,EURO,879,4260788,21,127587
57243,2021-07-03,IT,Italy,EURO,794,4261582,28,127615
57244,2021-07-04,IT,Italy,EURO,929,4262511,22,127637
57245,2021-07-05,IT,Italy,EURO,806,4263317,12,127649

In [21]:
#countries with more number of cases reported in last 24 hours as of  2021-07-05
covid_data.sort_values('Cases - newly reported in last 24 hours',ascending=False)[['Name','Cases - newly reported in last 24 hours']].head()

         Name  Cases - newly reported in last 24 hours
0      Global                                   322222
2       India                                    39796
16  Indonesia                                    29745
3      Brazil                                    27783
9    Colombia                                    26265

In [17]:
#countries with more number of cases reported in last 7days as of  2021-07-05
covid_data.sort_values('Cases - newly reported in last 7 days',ascending=False)[['Name','Cases - newly reported in last 7 days']].head()

         Name  Cases - newly reported in last 7 days
0      Global                                2669006
3      Brazil                                 349210
2       India                                 305898
9    Colombia                                 191779
16  Indonesia                                 177831

In [18]:
covid_data.sort_values('Cases - cumulative total',ascending=False)[['Name','Cases - cumulative total']].head()

                       Name  Cases - cumulative total
0                    Global                 183700343
1  United States of America                  33378240
2                     India                  30585229
3                    Brazil                  18769808
4                    France                   5674906

In [19]:
#countries with more number of deaths reported in last 7days as of  2021-07-05
covid_data.sort_values('Deaths - newly reported in last 7 days',ascending=False)[['Name','Deaths - newly reported in last 7 days']].head()

                 Name  Deaths - newly reported in last 7 days
0              Global                                   53493
3              Brazil                                   10943
2               India                                    5998
5  Russian Federation                                    4686
9            Colombia                                    4218