In [1]:
#Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Read dataset
who_covid_dataset = pd.read_csv("../datasets/WHO-COVID-19-global-data.csv")
who_covid_dataset.head(3)

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0

In [3]:
# Check shape of the dataset
print(f'Shape of WHO Dataset: {who_covid_dataset.shape}')

Shape of WHO Dataset: (130464, 8)

In [4]:
#Check datatypes
who_covid_dataset.dtypes

Date_reported        object
Country_code         object
Country              object
WHO_region           object
New_cases             int64
Cumulative_cases      int64
New_deaths            int64
Cumulative_deaths     int64
dtype: object

In [5]:
#Convert Date_reported from object to datetime format
who_covid_dataset['Date_reported']=pd.to_datetime(who_covid_dataset['Date_reported'])

In [6]:
#Check missing values of dataset
who_covid_dataset.isnull().sum()

Date_reported          0
Country_code         550
Country                0
WHO_region             0
New_cases              0
Cumulative_cases       0
New_deaths             0
Cumulative_deaths      0
dtype: int64

In [7]:
#Replace missing values with country code 'NA'
who_covid_dataset['Country_code']=who_covid_dataset['Country_code'].fillna('NA')

In [8]:
#Rename the columns in 'who_covid_dataset'
rename_columns_dict = {
    'Date_reported': 'date_reported',
    'Country_code' : 'country_code',
    'Country'      : 'country_name', 
    'WHO_region'   : 'who_regional_offices',
    'New_cases'    : 'new_confirmed_cases',
    'Cumulative_cases' : 'cumulative_cases',
    'New_deaths'   : 'new_confirmed_deaths',
    'Cumulative_deaths': 'cumulative_deaths'}

In [9]:
who_covid_dataset.rename(columns=rename_columns_dict, inplace=True)

In [11]:
total=who_covid_dataset['country_name'].unique()

In [70]:
pd.DataFrame(total).tail(75)

                     0
162   Papua New Guinea
163           Paraguay
164               Peru
165        Philippines
166   Pitcairn Islands
..                 ...
232           Viet Nam
233  Wallis and Futuna
234              Yemen
235             Zambia
236           Zimbabwe

[75 rows x 1 columns]