# RNN Model

### Imports

In [1]:
import pandas as pd

### Load data

In [2]:
covid = pd.read_csv("../datasets/WHO-COVID-19-global-data.csv")

### Create mini datasets of each country with the first day having >= 100 cases as the start date

In [3]:
covid_shifted = covid[covid['Cumulative_cases'] >= 100]

In [4]:
ls = []
for country in covid_shifted['Country'].unique():
# a dataframe of an individual country
# starting at the first day with over 100 cases
# with just the date and cumulative cases
# with the index reset
    temp_df = covid_shifted[(covid_shifted['Cumulative_cases'] >= 100) & (covid_shifted['Country'] == country)][['Date_reported', 'Cumulative_cases']].reset_index().drop(columns='index')
# add it to the list as a tuple to keep country name while reducing df size
    ls.append((country, temp_df))

In [5]:
# view the first three rows of the first four country reports
for tup in ls[0:4]:
    print(tup[0])
    display(tup[1].head(3))

Afghanistan

  Date_reported  Cumulative_cases
0    2020-03-28               106
1    2020-03-29               114
2    2020-03-30               114

Albania

  Date_reported  Cumulative_cases
0    2020-03-25               108
1    2020-03-26               136
2    2020-03-27               148

Algeria

  Date_reported  Cumulative_cases
0    2020-03-22               139
1    2020-03-23               201
2    2020-03-24               231

Andorra

  Date_reported  Cumulative_cases
0    2020-03-22               133
1    2020-03-23               134
2    2020-03-24               165

### The model